table {
	margin-top: 5px;
	width: 100%;
	background: #FFFFFF;
	font-size: 12px;
}
th{
	color: #333333;
	padding-left: 10px;
	text-align: left;
	height: 40px;
	border-bottom: 1px solid #d9d9d9;
}
td{
	padding-left: 10px;
	color: #1A1A1A;
	padding-top: 10px;
	padding-bottom: 10px; 
	border-bottom: 1px solid #d9d9d9;
}
